body {
    background-color: #000;
    color: #ede138;
}

/* HEADER STYLES */
header {
    display: block;
    border-top: 4px solid #ede138;
    max-width: 1024px;
    margin: auto;
}
header img {
    padding: 15px 0 15px 30px;
    float: left;
}
header h1 {
    font-family: 'Lulo Clean', sans-serif;
    font-weight: 900;
    font-size: 38px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px #900C3F;
}

/* NAV STYLES */
nav {
    border-top: 4px solid #ede138;
    border-bottom: 4px solid #ede138;
    font-family: 'Helvetica Light', sans-serif;
    font-size: 15px;
}
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #ede138;
    text-decoration: none;
    border-right: 1px solid #ede138;
    padding: 9.6px 16px;
}

/* MAIN STYLES */
main {
    max-width: 1024px;
    margin: auto;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}
main h1 {
    font-size: 29px;
    letter-spacing: 3px;
    font-weight: 900;
    border: 5px solid #ede138;
    max-width: 540px;
    margin: 15px auto;
}
main img {
    width: 225px;
    border-radius: 120px;
    margin: auto;
}

main div.canada {
    display: inline;
    padding-top: 10px;
}
.amir {
    display: grid;
}

main div.rotterdam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.josh {
    display: grid;
    grid-template-rows: 217px, 50px, 50px;
}
.josh img {
    padding-bottom: 15px;
}
.ali {
    display: grid;
}

.icon {
    width: 50px;
    border-radius: 0;
}


/* FOOTER STYLES */
footer {
    text-align: center;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}