body {
    background-color: #000;
    color: #ede138;
}

/* HEADER STYLES */
header {
    display: block;
    border-top: 4px solid #ede138;
    max-width: 1024px;
    margin: auto;
}
header img {
    padding: 15px 0 15px 30px;
    float: left;
}
header h1 {
    font-family: 'Lulo Clean', sans-serif;
    font-weight: 900;
    font-size: 38px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px #900C3F;
}

/* NAV STYLES */
nav {
    border-top: 4px solid #ede138;
    border-bottom: 4px solid #ede138;
    font-family: 'Helvetica Light', sans-serif;
    font-size: 15px;
}
nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #ede138;
    text-decoration: none;
    border-right: 1px solid #ede138;
    padding: 9.6px 16px;
}

/* MAIN STYLES */
main {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}
main h1 {
    font-size: 35px;
}
main h2 {
    font-size: 21px;
}
main p, h4 {
    line-height: 25px;
    font-size: 14px;
}

/* FOOTER STYLES */
footer {
    text-align: center;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}